/* SONIC ADVENTURE 2 */
.ImgBorder{
    border: 5px solid #ffffffc4;
}
/*--------------------------------------------------------------------------------------*/
#menu{
    background-image: url(SA2-IMG-SELECTSCREEN/sa2bg_480p.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.SA2FontColor{
    font-family: Impact;
    
    border: 10px rgb(87, 0, 168);
    border-style: double;
    
    border-radius: 15px;
    background-color: rgba(220, 90, 247, 0.87);
}
/*--------------------------------------------------------------------------------------*/
.MenuHero{
    background-image: url(SA2-IMG-SELECTSCREEN/BGhero.png);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
#MenuTails{
    background-image: url(SA2-IMG-SELECTSCREEN/BGtails.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#MenuKnuckles{
    background-image: url(SA2-IMG-SELECTSCREEN/BGknuckles.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#MenuAmy{
    background-image: url(SA2-IMG-SELECTSCREEN/BGamy.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.SA2HeroesFontColor{
    font-family: Impact;
    
    border: 10px rgb(82, 209, 226);
    border-style: double;
    
    border-radius: 15px;
    background-color:  rgba(0, 3, 168, 0.514);
}
/*--------------------------------------------------------------------------------------*/
#MenuDark{
    background-image: url(SA2-IMG-SELECTSCREEN/BGdark.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#MenuRouge{
    background-image: url(SA2-IMG-SELECTSCREEN/BGrouge.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#MenuEggman{
    background-image: url(SA2-IMG-SELECTSCREEN/BGeggman.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.SA2DarkFontColor{
    font-family: Impact;
    
    border: 10px rgb(255, 0, 0);
    border-style: double;
    
    border-radius: 15px;
    background-color:  rgb(168, 0, 0, 0.514);
}
/*--------------------------------------------------------------------------------------*/
#MenuLastMode{
    background-image: url(SA2-IMG-SELECTSCREEN/BGLast.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.SA2LastFontColor{
    font-family: Impact;
    
    border: 10px rgb(255, 251, 0);
    border-style: double;
    
    border-radius: 15px;
    background-color:  rgb(168, 129, 0, 0.514);
}
/*--------------------------------------------------------------------------------------*/